body {
    margin: 20px;
    font-family: cursive, Geneva, Tahoma, sans-serif;

}
.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 20px;
    display: flex;
    color: #22223b;
    background-color: #9a8c98;
    border-bottom: 8px solid #c9ada7;
    box-shadow: inset 0 0 10px #000000;
    
}

.center {
    text-align: center;
}