.search-input {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    line-height: 24px;
}

.main {
    margin-top: 100px;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn {
    margin-top: 30px;
    background: #dfe1e5;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    font-size: 14px;
}
.logo-img {
    display: block;
    width: 300px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}